{% extends 'base.html.twig' %}

{% block body %}
    <div class="m-auto">
        <div class="d-flex justify-content-center flex-column card container p-3 shadow-sm my-5 fond">
            <h1 class="d-flex justify-content-center mb-3">Canin-propos :</h1>
            <p class="text-center">
                Ode aux Chiens

                Ô fidèles compagnons à la fourrure douce,
                Chiens, joyaux de nos vies, source de tendresse et de joie,
                De vos yeux pleins d'amour, l'éclat jamais ne se moussent,
                Votre présence bienveillante, jamais ne s'assoie.
            </p>
            <p class="text-center">
                Dans vos pas alertes et vos jeux innocents,
                Se reflète la pureté d'un cœur sans égal,
                Vous enseignez la loyauté, vertu des plus prenants,
                Et votre amour inconditionnel, tel un cristal.
            </p>
            <p class="text-center">
                Vous égayez nos jours de vos aboiements joyeux,
                Chassant les chagrins, les soucis et les tourments,
                Votre fidélité sans faille, comme un serment pieux,
                Rend nos vies plus riches, plus belles, chaque instant.
            </p>
            <p class="text-center">
                Dans vos câlins sincères, se ressent la chaleur,
                D'une amitié sans égale, d'une affection vraie,
                Que seul un chien peut offrir avec tant de ferveur,
                Sculptant dans nos cœurs une douce mélodie.
            </p>
            <p class="text-center">
                Ô chiens, gardiens de nos âmes, anges à quatre pattes,
                Dans vos yeux miroite l'âme pure de la nature,
                Vos pas résonnent en échos dans nos vies éclatantes,
                Pour toujours, à jamais, vous êtes notre parure.
            </p>
            <p class="text-center">
                Que votre aboiement résonne comme une symphonie,
                Éloge à votre présence, à votre amour infini,
                Dans nos cœurs, à jamais, votre flamme flamboie,
                Ode éternelle à nos amis, les chiens chéris.
            </p>
        </div>
    </div>
{% endblock %}