{% extends 'base.html.twig' %}

{% block body %}

    <div class="d-flex justify-content-center flex-column card container p-3 shadow-sm my-5 fond">
    <h1 class="d-flex justify-content-center">Cani-Accueil</h1>
    <h2 class="d-flex justify-content-center">C'est le site dédié aux chiens !</h2>
        <div class="my-5">
            <p class="text-center">
                Bienvenue sur notre site dédié aux chiens, l'endroit idéal où l'amour pour nos fidèles compagnons
                rencontre la passion pour tout ce qui concerne nos amis à quatre pattes. Que vous soyez un propriétaire
                de chien dévoué, un passionné des races canines, ou simplement un amoureux des animaux, vous trouverez
                ici une mine d'informations, de conseils et de ressources pour enrichir votre relation avec votre
                compagnon canin.</p>
            <p class="text-center">
                Explorez notre contenu riche et varié, comprenant des articles informatifs sur la santé, le bien-être,
                l'éducation et le comportement des chiens. Nous sommes là pour répondre à toutes vos questions et vous
                fournir des conseils pratiques pour prendre soin de votre ami à fourrure de la meilleure manière qui
                soit.</p>
            <p class="text-center">
                Plongez dans l'univers captivant des races canines, découvrez les caractéristiques uniques de chaque
                race, explorez leur histoire fascinante et trouvez celle qui correspond parfaitement à votre style de
                vie et à vos préférences.
            </p>
            <p class="text-center">
                Vous êtes également invité à partager votre propre expérience en tant que propriétaire de chien, à
                participer à nos discussions animées et à rejoindre une communauté de passionnés qui partagent votre
                amour pour nos amis les chiens.
            </p>
            <p class="text-center">
                Que vous soyez ici pour trouver des conseils pratiques, pour vous inspirer avec des histoires touchantes
                ou tout simplement pour vous perdre dans la beauté du monde canin, nous sommes ravis de vous accueillir
                dans notre communauté chaleureuse et bienveillante. Parce que pour nous, les chiens ne sont pas
                seulement des animaux de compagnie, ce sont des membres à part entière de nos familles, et c'est à eux
                que nous dédions ce site avec tout notre cœur.
            </p>
        </div>

    </div>

{% endblock %}