{% extends 'base.html.twig' %}


{% block body %}
    <div class="d-flex justify-content-center flex-column card container p-3 shadow-sm my-5 fond">
    <img class="d-flex m-auto" src="{{ asset('img/img_2.png') }}">
    </div>
{% endblock %}

